name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build backend Docker image
      - name: Build and push backend image
        run: |
          docker build -f ./backend/Dockerfile.dockerfile -t ${{ secrets.DOCKER_USERNAME }}/parables-backend:${GITHUB_REF##*/} ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/parables-backend:${GITHUB_REF##*/}

      # Build frontend Docker image
      - name: Build and push frontend image
        run: |
          docker build -f ./frontend/Dockerfile.dockerfile -t ${{ secrets.DOCKER_USERNAME }}/parables-frontend:${GITHUB_REF##*/} ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/parables-frontend:${GITHUB_REF##*/} 

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }} # Part of GitHub context 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Auto generated by GitHub
